* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

#map{
    height: 100vh; width: 100vw; 
}
#panorama {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);

}

.ctrl {
        padding: 8px 5px;
        width: 30px;
        text-align: center;
        background: rgba(200, 200, 200, 0.8);
        display: inline-block;
        cursor: pointer;
        pointer-events: auto;
    }
.ctrl:hover {
        background: rgba(200, 200, 200, 1);
    }
.navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 103px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;

}

#controls {
        position: absolute;
        bottom: 0;
        z-index: 2;
        text-align: center;
        width: 100%;
        padding-bottom: 3px;
        pointer-events: none;
    }

#scrollContainer {
    overflow-x: auto;
    white-space: nowrap;
    width: 80%;
    margin: 0 10px;
    background-color: rgb(255, 247, 239);
  }

.item {
    display: inline-block;
    width: 170px;
    height: 77px;
    margin: 5px;
    vertical-align: top;
    font-size: 13px;
    cursor: pointer;
  }

#scrollLeft {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 100px;
    background-image: url(images/thumbnail_left_normal_380_31.png);
    background-repeat: no-repeat;
    background-position: center center;
    user-select: none;
    left: 0px;
    display: block;
    cursor: pointer;
  }
#scrollRight {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 100px;
    background-image: url(images/thumbnail_right_normal_380_31.png);
    background-repeat: no-repeat;
    background-position: center center;
    user-select: none;
    right: 0px;
    display: block;
}