version: '2'
services:
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/site.crt:/etc/ssl/site.crt
      - ./nginx/site.key:/etc/ssl/site.key
      - ./frontend:/usr/share/nginx/html